@import '../../breakpoints';

.menu ul {
  list-style: none;
  font-size: 18px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul li {
  margin-bottom: 25px;
  font-weight: bold;
  margin: auto 6px;

  &.light {
    color: black;
  }

  &.dark {
    color: white;
  }
}

.menu ul li a {
  font-size: inherit;
  color: inherit;
  text-decoration: none;

  &:hover {
    font-weight: 500;
    color: #86ff00;
  }

  @include xl {
    font-size: 15px;
  }
}
