@import '../../variable';
@import '../../breakpoints';

.portfolioList {
  font-size: 17px;
  //margin-right: 50px;
  padding: 6px 3px;
  border-radius: 0;
  cursor: pointer;
  clip-path: polygon(
    0 0,
    calc(100% - 10px) 0,
    100% 10px,
    100% 100%,
    10px 100%,
    0 calc(100% - 10px)
  );
  text-align: center;

  &.active {
    background-color: $hover-color;
    color: #000;
  }
  &:hover {
    color: $secondary-color;
  }

  @include sm {
    padding: 8px 15px;
  }

  @include lg {
    font-size: 20px;
  }
}
