@import '../../variable';

//================local variables================//
@mixin button-styles {
  background-color: #86ff00;

  outline: none;
  border: none;
  clip-path: polygon(
    0 0,
    calc(100% - 10px) 0,
    100% 10px,
    100% 100%,
    10px 100%,
    0 calc(100% - 10px)
  );
  font-weight: bold;
  padding: 12px 30px;
  color: #000;
  &:hover {
    background-color: $hover-color-secondary;
  }
}

.project-details-container {
  background-image: url('../../../public/introImage/intro-bg-three.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.project-details {
  max-width: 70%;
  margin: 0 auto;
  padding: 30px 0;
  color: $primary-text-color;
  height: 100vh;

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 8px;
  }

  p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 16px;
  }

  ul {
    margin-bottom: 16px;
    list-style-type: disc;
    padding-left: 20px;
  }

  .screenshots {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 16px;
    margin-bottom: 16px;

    img {
      max-width: 100%;
      height: auto;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  }

  a {
    display: inline-block;
    margin-right: 10px;
    //margin-bottom: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

.project-details__btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-details__btn {
  @include button-styles;
}

.project-details__btn a {
  color: #000;
  font-size: $pDatils-font-size-small;

  &:hover {
    color: $primary-text-color;
  }
}
