@import '../../breakpoints';
@import '../../variable';

//================local variables================//
@mixin button-styles {
  background-color: #86ff00;
  clip-path: polygon(
    0 0,
    calc(100% - 10px) 0,
    100% 10px,
    100% 100%,
    10px 100%,
    0 calc(100% - 10px)
  );
  font-weight: bold;
  padding: 12px 30px;
  color: #000;
  &:hover {
    background-color: $hover-color-secondary;
    color: $primary-text-color;
  }
}

//==========sass code start from here=============//
.intro {
  color: $primary-text-color;
  background-image: url('bg-slider.png');

  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;

  &.light {
    background-color: white;
    color: black;
  }

  &.dark {
    background-color: #050724;
    color: white;
  }

  &__wrapper {
    width: 100%;
    // margin: auto;
    display: flex;
    flex-direction: column;
    padding: 4rem 30px;

    @include lg {
      width: 75%;
      margin: auto;
      display: flex;
      flex-direction: row;
    }
  }
}

.intro__left {
  flex: 0.5;
}

.intro__item-container {
  width: 100%;
  height: 100%;
  //padding-left: 50px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro__btn .button {
  @include button-styles;
  //padding: 9px 22px;
  @include md {
    @include button-styles;
  }
}

.intro__item-container h1 {
  font-size: $intro-font-size-small;
  margin: 10px 0;
  @include md {
    font-size: $intro-font-size-large;
  }
}

.intro__item-container h2 {
  font-size: $font-size-small;
  @include md {
    font-size: $intro-font-size-medium;
  }
}

.intro__item-container h3 {
  font-size: $intro-font-size-small;
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;

  @include sm {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
}
.intro__item-container span {
  font-size: inherit;
  color: crimson;
}

.intro__right {
  flex: 0.5;
  overflow: hidden;
}

.intro__planeIcon {
  max-width: 100%;
  height: auto;
}

.intro__icon-ninja-container {
  position: absolute;
  top: 400px;
  right: 35px;
  @include md {
    position: absolute;
    top: 400px;
    right: 350px;
  }
}

.intro__ninjaIcon {
  height: 92px;
  width: auto;

  @include sm {
    height: 142px;
    width: auto;
  }

  @include md {
    height: 168px;
    width: auto;
  }

  @include lg {
    height: 18vh;
    width: auto;
  }
}

.intro__cartoonIcon {
  height: 92px;
  width: auto;

  @include sm {
    height: 142px;
    width: auto;
  }

  @include md {
    height: 168px;
    width: auto;
  }

  @include lg {
    height: 18vh;
    width: auto;
  }
}
