.footer {
  color: #fff;
  background-color: rgb(6, 6, 29);
  background-image: url("bg_project2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 40vh;
}
