@import '../../variable';

//================local variables================//
@mixin button-styles {
  background-color: #86ff00;
  clip-path: polygon(
    0 0,
    calc(100% - 10px) 0,
    100% 10px,
    100% 100%,
    10px 100%,
    0 calc(100% - 10px)
  );
  font-weight: bold;
  padding: 12px 30px;
  color: #000;
  &:hover {
    background-color: $hover-color-secondary;
    color: $primary-text-color;
  }
}

//============ SCSS code ===============//
.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal-content {
    position: relative;
    max-width: 80%;
    max-height: 80%;

    img {
      max-width: 100%;
      max-height: 100%;
    }

    .image-modal__btn {
      display: flex;
      gap: 14px;
      position: absolute;
      bottom: 10px;
      right: 10px;
      button {
        @include button-styles;
        padding: 10px 20px;
        outline: none;
        border: none;
      }
    }
  }
}
