//======= topbar variables ============//
$primary-color: #130250;
$secondary-color: #798da3;
$hover-color: #86ff00;
$font-size-large: 40px;
$font-size-medium: 30px;
$font-size-small: 15px;
$font-weight-bold: bold;
$main-color: #e20ee9;
