//======= topbar variables ============//
$primary-color: #130250;
$primary-text-color: #fff;
$secondary-color: #798da3;
$hover-color: #86ff00;
$font-size-large: 40px;
$font-size-medium: 30px;
$font-size-small: 15px;
$font-weight-bold: bold;
$main-color: #e20ee9;

//======== intro variables==============//
$hover-color-secondary: #798da3;
$intro-font-size-small: 30px;
$intro-font-size-medium: 35px;
$intro-font-size-large: 60px;
