//======= topbar variables ============//
$primary-color: #130250;
$secondary-topbar-bg: #040b11;
$mainColor: #15023a;
$primary-text-color: #fff;
$secondary-text-color: #09121d;
$secondary-color: #798da3;
$hover-color: #86ff00;
$primary-btn-background: #86ff00;
$secondary-btn-color: #21e786;
$font-size-large: 40px;
$font-size-medium: 30px;
$font-size-small: 15px;
$font-weight-bold: bold;
$main-color: #e20ee9;

//======== intro variables==============//
$hover-color-secondary: #798da3;
$primary-intro-bg-color: #050724;
$secondary-intro-bg-color: #040b11;
$intro-font-size-small: 30px;
$intro-font-size-medium: 35px;
$intro-font-size-large: 60px;

//======= contact variables==============//
$primary-contact-bg-color: #09121d;
$secondary-contact-bg-color: #1e2835;
$contact-font-size: 18px;

//============ project details variables ============//
$primary-bg-color-details: #a5e3b9;

//============ footer variables ==============//
$primary-footer-bg-color: rgb(6, 6, 29);
$secondary-footer-bg-color: #040b11;

//================ project details variable ===========//
$pDatils-font-size-small: 16px;

//===============projects variable==========//
$projects-item-bg: #141b22;
