.app {
  height: 100vh;

  .section {
    width: 100%;
    // height: calc(100vh - 70px);
    position: relative;
    top: 0;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none; //for firefox
  }
}
