@import '../../variable';
@import '../../breakpoints';

//================local variables================//
@mixin button-styles {
  background-color: #86ff00;
  clip-path: polygon(
    0 0,
    calc(100% - 10px) 0,
    100% 10px,
    100% 100%,
    10px 100%,
    0 calc(100% - 10px)
  );
  font-weight: bold;
  padding: 12px 30px;
  color: #000;
  &:hover {
    background-color: $hover-color-secondary;
    color: $primary-text-color;
  }
}

//======== SCSS code =============//
.menu-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &__list {
    list-style: none;
    padding: 10px 20px;
    margin: 0;
    text-align: center;
    background-color: $menu-modal-bg;
    width: 215px;
    height: auto;
    border-radius: 7px;

    &-item {
      margin: 10px 0;

      a {
        text-decoration: none;
        color: $menu-modal-text;
        font-size: 17px;
        transition: color 0.3s;

        &:hover {
          color: $hover-color;
        }
      }
    }
  }

  .MuiButton-root {
    margin-top: 20px;
  }
}

.menu-modal__btn {
  @include button-styles;

  outline: none;
  border: none;
  padding: 9px 25px;
  font-size: 15px;
}
